<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../abas-widget-framework/abas-widget-framework.html">
<link rel="import" href="../aba-widget/aba-widget.html">
<link rel="import" href="../abas-widget-behavior/abas-widget-behavior.html">
<link rel="import" href="../abas-styles/abas-styles.html">
<link rel="import" href="../abas-widget-style/abas-widget-style.html">
<link rel="import" href="../abas-config/abas-config-meta.html">
<link rel="import" href="../auth0-authenticator/auth0-fetch.html">
<link rel="import" href="../aba-js-imports/lodash-import.html">
<link rel="import" href="../aba-js-imports/postaljs-import.html">
<link rel="import" href="../abas-dashboard-state/abas-dashboard-state.html">
<link rel="import" href="abas-abas--widgetprocesschain-widget-settings.html">
<link rel="import" href="./components/processChainPainter.html">

<link rel="import" href="./components/processChainPainter.html">

<dom-module id="abas-abas--widgetprocesschain-widget">
    <template>
        <abas-config-meta data="{{_configuration}}"></abas-config-meta>
        <style include="abas-widget-style">
            :host {
                display: block;
                background: var(--abas-black-800);
            }
        </style>
        <aba-widget>
            <div id="content" slot="content">
                <abas-inplace-header>Process Chain Test</abas-inplace-header>
                <process-chain-painter model="[[currentmodel]]"></process-chain-painter>
                <abas-data-grid id=dataGrid></abas-data-grid>
                
            </div>
            <div slot="settingsForm">
                <template is="dom-if" if="[[editMode]]">
                    <abas-abas--widgetprocesschain-widget-settings company={{company}}></abas-abas--widgetprocesschain-widget-settings>
                </template>
            </div>
            <div slot="optionsMenu">
                <!-- Additonal settings menu items -->
            </div>
        </aba-widget>
    </template>
    <script>
        class AbasAbasWidgetprocesschainWidget extends

            abasWidgets.CompanyBehavior(ABAS.WidgetBehavior(Polymer.Element)) {

            constructor() {
                super();
                this._boundfireUpdateAttribute = this._fireUpdateAttribute.bind(this);
                this._boundSelected = this.display.bind(this);

            }
            static get is() { return 'abas-abas--widgetprocesschain-widget' }
            static get properties() {
                return {
                    models: { type: Array },
                    currentmodel: { type: Object },
                    dataForward: { type: Object },
                    dataBackward: { type: Object }
                }
            }
  
            static get observers() {
                return [
                'fetchData(_configuration, company)',
                'setup(dataForward, dataBackward)'
                ]
            }

            // TODO:
            // Filter Data before pushing into model
            // Build mechanism for choosing the model to be used
            // Send message out like indicator
            
            //Add UI Listeners
            connectedCallback() {
                super.connectedCallback()

                this._getModels()

                this.addEventListener('settings-closed', this._boundfireUpdateAttribute);
                this.addEventListener('elementSelected', this._boundSelected)

                this.loadResources(this.resolveUrl(this.importPath + 'locales.json'));
            }

            _getModels() {
                Promise.all([
                    auth0Fetch(this.resolveUrl('assets/sales.json'))
                        .then((resp) => {
                            if (resp.ok) return resp.json()
                            throw new Error("assets/sales.json not found")}), 
                    auth0Fetch(this.resolveUrl('assets/purchase.json'))
                        .then((resp) => {
                            if (resp.ok) return resp.json()
                            throw new Error('assets/purchase.json not found')
                       })
                ]).then((resp) => {
                    this.set("models", resp)
                    // Übersetzen mit locales JSON
                    
                })
            }

            setup(dataForward, dataBackward){                            // schöner machen
                if(!dataForward || !dataBackward || !this.models){
                    return;
                }

                let model = _.cloneDeep(this.models[0])  // Hardcoded same model; later variable
                model.start = dataForward.head["vorgang^typ"].value
                
                dataForward.table.forEach( entry => {
                    let comparison = entry["tvorgang^typ"].value
                    model.chainElements.forEach( modelEntry => {
                        if (comparison == modelEntry.type) modelEntry.table.push(entry)
                    })
                    if (comparison == model.upperElement.type) model.upperElement.table.push(entry)
                    if (comparison == model.lowerElement.type) model.lowerElement.table.push(entry)
                    
                })
                dataBackward.table.forEach( entry => {
                    let comparison = entry["tvorgang^typ"].value
                    model.chainElements.forEach( modelEntry => {
                        if (comparison == modelEntry.type) modelEntry.table.push(entry)
                    })
                    if (comparison == model.upperElement.type) model.upperElement.table.push(entry) 
                    if (comparison == model.lowerElement.type) model.lowerElement.table.push(entry) 
                })

                model.chainElements.forEach( modelEntry => {
                        if (modelEntry.table) modelEntry.amount = modelEntry.table.length  
                    })
                if (model.upperElement.table) model.upperElement.amount = model.upperElement.table.length 
                if (model.lowerElement.table) model.lowerElement.amount = model.lowerElement.table.length 
                // berechne amount

                this.set("currentmodel", model)   
            }

            fetchData(configuration, company){
                if (!configuration || !company) {
                    return;
                }
                //run forward
                this._fetchData(configuration, company, "(0)")
                    .then((respForward) => {
                        this.set('dataForward', respForward);
                    }).catch((error) => {
                        console.log(error)
                })
                //run backward
                this._fetchData(configuration, company, "(1)")
                    .then((respBackward) => {
                        this.set('dataBackward', respBackward);
                    }).catch((error) => {
                        console.log(error)
                })
            }

            _fetchData(configuration, company, direction) {
                let headers = new Headers();
                headers.set("accept", "application/abas.objects+json");
                headers.set("content-type", "application/json");
                let query = `richtung=${direction}|vorgang=(24899,3,0)|bstart=1`;   // MAKE THIS VARIABLE BY SELECTOR
                let action = {
                    initAction: {
                        _type: "OpenEditorCommandString",
                        cmd: `Infosystem EVKETTE ? ${query}`
                    },
                    headFields:  "vorgang,richtung,vorgang^typ(LANGINDEP),vorgang^nummer,vorgang^typ",
                    tableFields: "tvorgang,vart,artname,tvorgang^typ,tvorgang^typ(LANGINDEP),tvorgang^vom,tvorgang^betreuer^ans,tvorgang^nummer,tvorgang^ablagef"
                };
                let mwEndpoint = new URL(`${_.get(configuration, 'api.erpBaseURL')}${company.href}/exec`)
                return auth0Fetch(mwEndpoint.toString(), {
                    method: "POST",
                    headers: headers,
                    body: JSON.stringify(action)
                    })
                    .then(resp => {
                        if (resp.ok) {
                            return resp.json();
                        }
                        throw new Error(`${this.constructor.name} Requesting middleware failed`);
                    })
                    .then(mwResponse => {
                        let resultSetTable = _.get(mwResponse, "content.data.table", [])
                        let resultSetHead = _.get(mwResponse, "content.data.head.fields", {})
                        let resultSet = {
                            head: resultSetHead,
                            table: _.map(resultSetTable, 'fields')
                        }
                        return resultSet
                    });
            }

            display(event){
                let table = event.detail.data
                                                   // VARIABEL MACHEN, Verbindungsmodelle für die Inhalte oder identisch???
                this.$.dataGrid.headers = [
                    {text: 'Process', value: "Process"},
                    {text: 'ProcessType', value: 'ProcessType'},
                    {text: 'Operator', value: 'Operator'},
                    {text: 'DocumentDate', value: 'DocumentDate'}
                ]

                let result = []

                if (table.length != 0) {
                    table.forEach(entry => {
                    let newRow = {}

                    newRow.ProcessType = entry["tvorgang^nummer"].value
                    newRow.Process = entry["tvorgang^typ"].text
                    newRow.Operator = entry["tvorgang^betreuer^ans"].value
                    newRow.DocumentDate = entry["tvorgang^vom"].text

                    result.push(newRow)
                }) 
                }

                this.$.dataGrid.items = result

                // clickaction, wie Indicator für "doofes" Listings
                // let message = {
                //     topic: 'clickaction',
                //     channel: "default",          // CHANGE TO SETTINGS
                //     data: data
                // }
                // this.publishTopic(message)

            }

            










            _fireUpdateAttribute() {
                this.fireAttributesUpdate([{
                    name: 'company',
                    value: this.company
                }]);
            }
        }
        customElements.define(AbasAbasWidgetprocesschainWidget.is, AbasAbasWidgetprocesschainWidget);
    </script>
</dom-module>