<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../abas-widget-framework/abas-widget-framework.html">
<link rel="import" href="../../aba-widget/aba-widget.html">
<link rel="import" href="../../abas-widget-behavior/abas-widget-behavior.html">
<link rel="import" href="../../abas-styles/abas-styles.html">
<link rel="import" href="../../abas-widget-style/abas-widget-style.html">
<link rel="import" href="../../abas-config/abas-config-meta.html">
<link rel="import" href="../../auth0-authenticator/auth0-fetch.html">
<link rel="import" href="../../aba-js-imports/lodash-import.html">
<link rel="import" href="../../aba-js-imports/postaljs-import.html">
<link rel="import" href="../../abas-dashboard-state/abas-dashboard-state.html">
<link rel="import" href="./processChainElement.html">

<script src="../../jsplumb/dist/js/jsplumb.min.js"></script>

<dom-module id="process-chain-painter">
    <template>
        <style>
            :host {
                display: block;
                background: var(--abas-black-800);
            }
            .content {
                overflow: hidden;
                position:relative;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            }

            .rowContainer {
                display: flex;
                flex-direction: column;
            }

            .element {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                padding-bottom:  20px;
                padding-top:  20px;
            }

        </style>

        <div class="content" id="painter">
            <template is="dom-repeat" items="[[model.chainElements]]" as="entry">
                <div id="rowContainer" class="rowContainer">
                    <div class="element">
                        <template is="dom-if" if="[[displayUpper(entry)]]">
                            <process-chain-element id$="[[model.upperElement.type]]" entry="[[model.upperElement]]" start="[[model.start]]"></process-chain-element>
                        </template>
                    </div>
                    <div class="element">
                        <process-chain-element id$="[[entry.type]]" entry="[[entry]]" start="[[model.start]]"></process-chain-element>
                    </div>
                    <div class="element">
                        <template is="dom-if" if="[[displayLower(entry)]]">
                            <process-chain-element id$="[[model.lowerElement.type]]" entry="[[model.lowerElement]]" start="[[model.start]]"></process-chain-element>
                        </template>
                    </div>
                </div>
            </template>
        </div>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        (function (window) {
            class ProcessChainPainter extends Polymer.AbasLocalizeMixin(Polymer.Element) {
                constructor() {
                    super()
                    this._boundResize = this._resize.bind(this);
                }

                static get is() {
                    return 'process-chain-painter'
                }

                static get properties() {
                    return {
                        model: { type: Object }
                    }
                }

                static get observers() {
                    return [
                        '_connectElements(model)'
                    ]
                }

                connectedCallback() {
                    super.connectedCallback()
                    window.addEventListener('resize', this._boundResize);

                    let p;
                    jsPlumb.ready(() => {

                        this.plumbInstance = jsPlumb.getInstance()
                        this.plumbInstance.setContainer(this.shadowRoot.getElementById('painter'))
                    })
                }

                _connectElements(model) {
                    if (!model) return

                    window.setTimeout(() => {
                        let chain = model.chainElements
                        let upper = model.upperElement
                        let lower = model.lowerElement

                        for (let i = 0; i < chain.length - 1; i++) {
                            this._buildConnection(chain[i].type, chain[i + 1].type, "Right", "Left", "Straight")
                        }

                        if (upper) {
                            upper.connections.forEach(connection => {
                                this._buildConnection(upper.type, connection.target, connection.anchor, "TopCenter", connection.type)
                            })
                        }

                        if (lower) {
                            lower.connections.forEach(connection => {
                                this._buildConnection(lower.type, connection.target, connection.anchor, "BottomCenter", connection.type)
                            })
                        }
                    }, 200)
                }

                _buildConnection(source, target, anchorA, anchorB, type){
                    let a = this.shadowRoot.getElementById(source)
                    let b = this.shadowRoot.getElementById(target)
                    this.plumbInstance.connect({
                                source: a, 
                                target: b,
                                anchors:[anchorA, anchorB],
                                paintStyle:{ strokeWidth: 4, stroke:'rgba(0, 0, 0, 0.5)' },
                                endpoint:[ "Rectangle", { width:4, height:2 } ],
                                connector: [type]   // Bezier, Flowchart, StateMachine, Straight
                    })
                }

                _resize(){
                    window.setTimeout( () => {
                        if(this.plumbInstance) this.plumbInstance.repaintEverything()
                    }, 100)
                }

                disconnectedCallback() {
                    super.disconnectedCallback()
                    window.removeEventListener('resize', this._boundResize);
                }

                displayUpper(entry){
                    if (!this.model.upperElement) return false
                    if (entry.type != this.model.upperElement.centerOn) return false
                    return true
                }

                displayLower(entry){
                    if (!this.model.lowerElement) return false
                    if (entry.type != this.model.lowerElement.centerOn) return false
                    return true
                }



            }
            window.customElements.define(ProcessChainPainter.is, ProcessChainPainter)
        })(window)
    </script>
</dom-module>