<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../../abas-widget-framework/abas-widget-framework.html">
<link rel="import" href="../../aba-widget/aba-widget.html">
<link rel="import" href="../../abas-widget-behavior/abas-widget-behavior.html">
<link rel="import" href="../../abas-styles/abas-styles.html">
<link rel="import" href="../../abas-widget-style/abas-widget-style.html">
<link rel="import" href="../../abas-config/abas-config-meta.html">
<link rel="import" href="../../auth0-authenticator/auth0-fetch.html">
<link rel="import" href="../../aba-js-imports/lodash-import.html">
<link rel="import" href="../../aba-js-imports/postaljs-import.html">
<link rel="import" href="../../abas-dashboard-state/abas-dashboard-state.html">

<script src="../../jsplumb/dist/js/jsplumb.min.js"></script>

<dom-module id="process-chain-element">
    <template>
        <style>
            .element {
                border: 2px solid black;
                border-radius: 30%;
                padding-left:  20px;
                padding-right:  20px;
                background: white;
            }

            .elementInitial {
                background: rgb(37, 182, 126);
            }

            .elementSelected {
                border: 2px solid red;
                background: rgb(140, 209, 183);
            }

            .amount {
                position:absolute;
                right: 0;
                top: 0;
                border: 1px solid black;
                background: #b51c29;
                border-radius:50%;
                color: white; 
            }

        </style>
        
        <div class="elementWrapper"  on-tap="elementSelected">
            <div id$="[[entry.type]]-element" class="element">
                <paper-item>
                    <iron-icon icon="[[entry.icon]]"></iron-icon>
                    <div>[[entry.name]]</div>
                    <template is="dom-if" if="[[entry.amount]]">
                        <div class="amount">[[entry.amount]]</div>
                    </template>
                </paper-item>
            </div>
        </div>
        
        </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        (function (window) {
            class ProcessChainElement extends Polymer.AbasLocalizeMixin(Polymer.Element) {
                constructor() {
                    super()
                    this._boundResize = this._resize.bind(this);
                    this._boundSelected = this._reactSelection.bind(this);
                }

                static get is() {
                    return 'process-chain-element'
                }

                static get properties() {
                    return {
                        entry: { type: Object },
                        start: { type: String }
                    }
                }

                // TODO: Element-Wrapper entfernen

                connectedCallback() {
                    super.connectedCallback()
                    window.addEventListener('resize', this._boundResize);
                    window.addEventListener('elementSelected', this._boundSelected)

                    let start = this.shadowRoot.getElementById( `${this.start}-element`)
                    if (start) start.classList.add('elementInitial')
                }

                _reactSelection(event){
                    let self = this.shadowRoot.getElementById( `${this.entry.type}-element`)
                    let type = event.detail.type
                    if (type != this.entry.type) self.classList.remove('elementSelected')
                }

                elementSelected(event) {
                    let self = this.shadowRoot.getElementById( `${this.entry.type}-element`)
                    self.classList.add('elementSelected')

                    this.dispatchEvent(new CustomEvent('elementSelected', {bubbles: true, composed: true, detail: {
                        type: this.entry.type,
                        data: this.entry.table
                    }}))
                }

                _resize(){

                }

                disconnectedCallback() {
                    super.disconnectedCallback()
                    window.removeEventListener('resize', this._boundResize);
                }
            }
            window.customElements.define(ProcessChainElement.is, ProcessChainElement)
        })(window)
    </script>
</dom-module>